build/
.clangd/
src/bkp/

legacy/Makefile
legacy/Makefile.in
legacy/aclocal.m4
legacy/autom4te.cache/
legacy/config.log
legacy/config.status
legacy/config/
legacy/configure
legacy/output
legacy/src/.deps/
legacy/src/Makefile
legacy/src/Makefile.am
legacy/src/Makefile.in
legacy/tests/.deps/
legacy/tests/Makefile
legacy/tests/Makefile.in
legacy/tests/global_div.benchmark
legacy/tests/global_div.run
legacy/tests/grid.nc
legacy/tests/local_vel_filter.run
legacy/tests/output
legacy/src/basic_operators.o
legacy/src/grid.o
legacy/src/libicon_example.a
legacy/src/utils.o
legacy/tests/global_div
legacy/tests/global_div.o
legacy/tests/local_vel_filter
legacy/tests/local_vel_filter.o
